$primary-color: #f67acb;

$gray-100: #050110;
$gray-200: #1c1d1f;
$gray-300: #393c40;
$gray-400: #5c6066;
$gray-500: #e6ebf2;
$gray-600: #f7f8fa;

$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.7);
