.footer-bg {
  background-color: $gray-100;

  .footer-links {
    padding-top: 88px;
    padding-bottom: 72px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;

    border-bottom: 1px solid $white-light;

    .footer-logo {
      max-width: 280px;

      p {
        margin-top: 35px;
        color: $white-light;
        @include type-2(p3, desktop);
      }
    }

    .footer-nav {
      width: 100%;
      max-width: 777px;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h4 {
        color: $white;
        margin-bottom: 24px;
        @include type-1(h4, desktop);
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 32px;

        a {
          color: $white-light;
          @include type-2(p3, desktop);

          &:hover {
            color: $white;
          }
        }
      }

      .social {
        a {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }
    @include responsive(m) {
      padding-top: 44px;
      padding-bottom: 36px;

      flex-direction: column;
      align-items: center;
      text-align: center;

      .footer-logo {
        max-width: 100%;

        p {
          margin-top: 24px;
        }
      }

      .footer-nav {
        text-align: left;
      }
    }

    @include responsive(s) {
      padding-top: 44px;
      padding-bottom: 36px;

      flex-direction: column;
      align-items: center;
      text-align: center;

      .footer-logo {
        max-width: 100%;

        p {
          margin-top: 24px;
        }
      }

      .footer-nav {
        text-align: left;
      }
    }
    @include responsive(xs) {
      padding-top: 44px;
      padding-bottom: 36px;

      flex-direction: column;
      align-items: center;
      text-align: center;

      .footer-logo {
        max-width: 100%;

        p {
          margin-top: 24px;
        }
      }

      .footer-nav {
        text-align: left;
        flex-direction: column;
        gap: 56px;
      }
    }
  }

  .footer-copy {
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: $white-light;
      @include type-2(p3, desktop);
    }

    a {
      color: $white-light;
      @include type-2(p3, desktop);

      display: flex;
      align-items: center;
      gap: 8px;
    }

    @include responsive(m) {
      flex-direction: column;
      gap: 16px;
    }

    @include responsive(s) {
      flex-direction: column;
      gap: 16px;
    }

    @include responsive(xs) {
      flex-direction: column;
      gap: 16px;
    }
  }
}
